:root {
    --color-1: #bbbbbb;
    --color-2: #999999;
    --color-3: #666666;
    --color-4: #333333;
    --color-5: #000000;
}

@font-face {
    font-family: 'Teachers Pet';
    font-weight: 400;
    src: url("./TeachersPet–Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Teachers Pet';
    font-weight: 700;
    src: url("./TeachersPet–Bold.ttf") format("truetype");
}

h1, h2, h3, h4 {
    font-weight: 400;
}

h3, h4 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    color: var(--color-2);
}

h4 {
    font-size: .8rem;
}

a, a:visited {
    color: var(--color-1);
    text-decoration: none;
    border-bottom: 1px dotted var(--color-1);
}

.fill-1 {
    fill: var(--color-1);
    background: var(--color-1);
}

.fill-2 {
    fill: var(--color-2);
    background: var(--color-2);
}

.fill-3 {
    fill: var(--color-3);
    background: var(--color-3);
}

.fill-4 {
    fill: var(--color-4);
    background: var(--color-4);
}

.fill-5 {
    fill: var(--color-5);
    background: var(--color-5);
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Teachers Pet';
}

header {
    height: 4rem;
    padding: 0;
    margin:  0;
    background: var(--color-5);
    color: var(--color-1);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 9999e;
}

#title-logo {
    height: 75%;
    width: auto;
}

#title-logo svg {
    height: 100%;
    width: auto;
}

#title-logo h1 {
    display: inline;
    position: absolute;
    top: 0;
    font-size: 1.25rem;
}

button {
    height: 2rem;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    font-family: "Teachers Pet";
    font-weight: 700;
    text-transform: uppercase;
}

.text-button {
    background-color: var(--color-1);
    color: var(--color-5);
    border-radius: 4px;
    height: auto;
    display: block;
}

button:active {
    filter: invert();
}

button svg {
    height: 100%;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem;
    background-image: linear-gradient(var(--color-5), var(--color-4));
    height: calc(100vh - 4rem);
}

#drawing-area {
    position: relative;
}

#grid {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s;
}

#grid path {
    stroke: var(--color-3);
}

#pixel-grid, #grid {
    border: 2px solid var(--color-3);
    width: 34rem;
    max-width: 100%;
    max-height: 90vh;
    height: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    touch-action: none;
}

#color-picker {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 75ch;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#color-picker > * + * {
    margin-bottom: .8rem;
}

#palette-meta-data {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--color-2);
    text-align: center;
}

dl div {
    display: inline;
}

dt, dd {
    margin: 0;
    padding: 0;
    display: inline;
}

#palette-label {
    font-size: 1rem;
}

#author-label {
    font-size: .8rem;
}

#palette-meta-data > *  {
    margin-bottom: .8rem;
}

#palette-cycle {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#palette-cycle > * + * {
    margin-left: 1rem;
}

#palette-options {
    display: flex;
    flex-flow: row;
}
div#palette-options > * + * {
    margin-left: .5rem;
}

#palette-options svg {
    width: 2rem;
    height: 2rem;
}

.color { 
    border: 2px solid var(--color-3);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

#map-container {
    width: 100vw;
    height: 100vh;
    position: fixed!important;
    z-index: 999;
    top: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

#planting-controls {
    z-index: 9999;
    position: fixed;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    display: flex;
    flex-flow: column;
}

#planting-controls > * + * {
    margin-top: 1rem;
}

.sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

#finding-location {
    z-index: 999999;
    background-color: rgba(0,0,0,0.75);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
}

#unapproved-flags {
    padding: 0;
    margin: 0;
    max-width: 95%;
    width: 65ch;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#unapproved-flags li + li {
    margin-left: 1rem;
    margin-bottom: 1rem;
}


#unapproved-flags li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

#unapproved-flags li > * + * {
    margin-top: 1rem;
}

#unapproved-flags img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 8rem;
}